.ItemHeader{    
    padding: 20px;
}
.Header{
    padding: 50px;
}

.Info{
    padding: 2px;
    color: black;
    font-weight: bolder;
    font-size:  22px;;
}

.ItemFooter{
    width: 100%;
}

.OptionDetails{
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    color: white;
}
