.Logo{
    padding: 10px;
    color: white;
    text-decoration: none;
}

.NavBar{
    background-color: black;
    color: white;
}


.ActiveOption{
    text-overflow: none;
    text-decoration: none;
    color: white;
}

.Option{
    text-decoration: none;
}

.Categories {
    display: flex;
    justify-content: space-evenly;
}

.OptionProducts{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px;
}