.Logo {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.Option {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

.ActiveOption {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.OptionProducts {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px;
}

.CartItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  flex-direction: column;
  text-align: center;
  margin: auto;
  max-width: 600px;
}

.CartItem-image {
  width: 180px;
  transition: transform 0.3s ease;
}

.CartItem-details {
  padding-top: 30px;
}

.CartItem:hover .CartItem-image {
  transform: scale(1.03);
}