.Counter{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Button {
    background-color: black;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-family: "Quicksand";
    font-weight: bold;
    position: relative;
    border-radius: 10px;
    margin-left: 40px;
  }
  
  .Number {
    font-weight: bolder;
    font-size: 36px;
    padding: 20px;
    font-family: "Quicksand";
    margin-left: 40px;
  }